# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit config
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/
# domain_dataset.csv
